* {
  padding: 0;
  margin: 0;

}

#startPage{
  width: 100vw;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mainDiv{
  width: 100vw;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  
}

body {
  display: flex;
  justify-content: center;
  
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}

#navIcon{
   width: 30%;
   height: 100%;
}

#navIconDiv{
  margin: 0;
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#navIconDiv.active{
  background-color: red;
}

#pointsDisplay{
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}


#box {
  position: absolute;
  width: 50vw;
  z-index: 10;
}

#container {
  background-color: #e8eddf;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle1 {
  background: #0f7173;
  box-shadow: inset 0px 5px 15px 5px rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 50vw;
  border-radius: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  color: #e8eddf;
  font-family: "Roboto Slab", serif;
}

#circle2 {
margin-top: 50vw;
  background: #f05d5e;
  box-shadow: inset 0px 5px 15px 5px rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 50vw;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  color: #e8eddf;
  font-family: "Roboto Slab", serif;
}

#arrow {

  width: 20vw;
  transform: scaleX(-1);
}

#arrtext{
    position: absolute;
    transform: translate(0, 15vw);
    font-family: "Roboto Slab", serif;
}


#scaleWhole{
  width: 85%;
  height: 10vh;
  margin-bottom: 3%;
  margin-top: 2%;
}

#scalePill{
  z-index: 10;
  font-size: 1.5rem;
  position: relative;
  border-radius: 15px;
  height: 100%;
  background-color: white;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", serif;
  color: #202020;
  
}

#pillRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
  
}

#scaleRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
  margin-right: 4vw;
}

#pillText{
  margin-left: 5vw;
}

#scaleText{
  margin-left: 4vw;
  max-width: 80%;
}

.pillPlus, .pillMinus{
  background-color: #202020;
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pillPlus{
  margin-left: 3vw;
}

#pillsDiv{
  padding-bottom: 5rem;
  width: 100%;
  overflow-y: scroll ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#penaltyPill{
  width: 90%;
  font-size: 1.5rem;
  position: relative;
  border-radius: 15px;
  min-height: 3.5rem;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", serif;
  overflow: hidden;
  color: #202020;
}

.pillDrop{
  background-color: white;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
width: 100%;

position: relative;
top: -30%;
padding-top: 10%;
padding-bottom: 5%;
display: flex;
flex-direction: column;

}

#pillPen{
  margin: 3% 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", serif;
}

#checklabel{
  display: flex;
  align-items: center;
}

#checkArrowTrue{
  transform: rotate(-90deg);
}

#scaleHolder{
  padding-bottom: 5rem;
  width: 100%;
  overflow-y: scroll ;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#settingsPage{
  
}

#changeRulesButton{
  margin-top: 10%;
  position: relative;
  padding-left: 5%;
  height: 10vh;
  align-items: center;
  width: 85%;
  font-size: 1.5rem;
  display: flex;
  font-family: "Roboto", serif;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background-color: white;
}

#changeRulesButtonRight{
  width: 35%;
  justify-content: space-around;

  display: flex;
  margin-right: 5%;
  position: absolute;
  right: 0;
  font-size: 1rem;
  color: gray;
  align-items: center;
  
}

#settingsMain{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settingsArrow{
  transform: rotate(180deg);
}

#changeRulesPage{
  display: flex;
  flex-direction: column;
  width: 95%;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: "Roboto", serif;
  margin-top: 5%;
}

#ruleset{
  background-color: white;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  width: 90%;
  height: 10vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin-top: 5%;
  font-size: 1.5rem;
}

#selectButton{
  background-color: #3454D1;
  padding: 2% 3%;
  border-radius: inherit;
}